<div class="img-responsive col-md-12">
	<div class="col-md-3">
		<a href="<%= root_url %>"><img src="/assets/images/logo-large.jpg" class=""></a>
	</div>
	<div class="col-md-7">
		<h1 class="text-center" style="margin-top: 50px; margin-bottom: 50px;">Email Forwarding Program</h1>
	</div>
</div>