<% provide(:title, "Home") %>
<div class="container-fluid home">
  <div class="row">
    <%= render 'statics/partial' %>
    <%= render('statics/header') %>
    <div class="col-md-12" style="margin: 150px 100px 200px 100px;">
      <% if user_signed_in? %>
      <a href="<%= keywordgroups_path %>" class="btn btn-primary">Go to My Dashboard</a>
      <% else %>
      <a href="<%= new_user_registration_path %>" class="btn btn-primary">Create an account</a>
      <% end %>    
    </div>

  </div>  
</div>