<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-lg-4">
				<div class="widget">
					<p>
						<i class="icon icon-phone-sign"></i> (123) 456-7890<br>
						<i class="icon icon-envelope"></i> email@domainname.com
					</p>
				</div>
			</div>
			<div class="col-sm-4 col-lg-4"></div>
			<div class="col-sm-4 col-lg-4">
				<div class="widget">
					<h4>Newsletter</h4>
					<div class="form-group multiple-form-group input-group">
						<input type="email" name="email" class="form-control">
						<span class="input-group-btn">
							<button type="button" class="btn btn-theme btn-add">Subscribe</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>