<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-lg-4">
				<div class="widget">
					<p>
						<i class="icon icon-phone-sign"></i> (123) 456-7890<br>
						<i class="icon icon-envelope"></i> email@domainname.com
					</p>
				</div>
			</div>
			<div class="col-sm-4 col-lg-4"></div>
			<div class="col-sm-4 col-lg-4">
				<div class="widget">
					<h4>Newsletter</h4>
					<div class="form-group multiple-form-group input-group">
						<input type="email" name="email" class="form-control">
						<span class="input-group-btn">
							<button type="button" class="btn btn-theme btn-add">Subscribe</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="container-fluid iconsec text-white py-2 footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<p>© 2018 TheMillionaireMastermind</p>
			</div>
			<div class="col-sm-8">
				<ul class="nav justify-content-end">
					<li class="nav-item">
						<a class="nav-link" href="#mission">Our Mission</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#team">Our Team</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#rules">Business Rules</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>