<section class="banner">

</section>
<section class="gmail-section">

</section>
<section class="github-section">

</section>
<section class="twitter-section">

</section>
<section class="facebook-section">

</section>
<section class="other-section">
	<div class="col-md-12">
		<div class="col-md-2">
			<div class="thumbnail">
				<a href="/w3images/lights.jpg">
					<img src="/assets/images/1.jpg" alt="Lights" style="width:100%">
					<div class="caption">
						<p>SECURE FILE UPLOADING</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="thumbnail">
				<a href="/w3images/nature.jpg">
					<img src="/assets/images/2.jpg" alt="Nature" style="width:100%">
					<div class="caption">
						<p>FULL COLOR PRINTING</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="thumbnail">
				<a href="/w3images/fjords.jpg">
					<img src="/assets/images/3.jpg" alt="Fjords" style="width:100%">
					<div class="caption">
						<p>MAIL PROCESSING</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="thumbnail">
				<a href="/w3images/lights.jpg">
					<img src="/assets/images/4.jpg" alt="Lights" style="width:100%">
					<div class="caption">
						<p>AGENT ACCESS</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="thumbnail">
				<a href="/w3images/nature.jpg">
					<img src="/assets/images/5.jpg" alt="Nature" style="width:100%">
					<div class="caption">
						<p>E-BILL</p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-2">
			<div class="thumbnail">
				<a href="/w3images/fjords.jpg">
					<img src="/assets/images/6.jpg" alt="Fjords" style="width:100%">
					<div class="caption">
						<p>CERTIFIED READ</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>